<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-2</title>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="bootstrap.js"></script>
    <script src="./vue.3.5.13.js"></script>
</head>

<body>
    <div id="app">
        <p>
            數字:{{number}}
        </p>
        <p>
            <button @click="number++">+</button>
            <button @click="number--">-</button>
            <br>
            <br>
            <input v-model="number" type="number">
        </p>
        <input type="text" v-model="todoInput">
        <button @click="addToDoInput">add</button>
        <p>
        <ul v-for="(todo,index) in todoList">
            <li @click="delTodo(index)">{{todo}}</li>
        </ul>
        </p>

        <p>
        <ul v-for="(user,index) in users">
            <li @click="delTodo(index)">{{user.username}}</li>
        </ul>
        </p>
        <hr>
        <h3>使用者清單</h3>
        <table id="table" class="table table-hover">
            <tr>
                <td>使用者ID</td>
                <td>使用者名稱</td>
                <td>使用者權限</td>
                <td>使用者操作</td>
            </tr>
            <tr v-for="(user,index) in users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.id ==1 ? "管理者" : "一般使用者"}}</td>
                <td>
                    <div class="btn btn-group">
                        <button @click="editUser(user)" class="btn btn-warning">編輯</button>
                        <button class="btn btn-danger">刪除</button>
                    </div>
                </td>
            </tr>
        </table>
        <div id="userModal" class="Modal">
            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal_title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <label class="form-control">使用者名稱</label>
                                <input class="form-control" type="text" v-model="userData.username">
                            </p>
                            <p>
                                <label class="form-control">使用者密碼</label>
                                <input class="form-control" type="password" v-model="userData.password">
                            </p>
                            <p>
                                <label class="form-control">使用者權限</label>
                                <input class="form-control" type="text" v-model="userData.role">
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const { createApp, ref } = Vue;
        createApp({
            setup() {
                const number = ref(10)
                const todoInput = ref("");
                const todoList = ref([]);

                const users = ref(null)
                const isLoading = ref(false)

                // 【修復點】：宣告並初始化 userData，供 Modal 表單綁定使用
                const userData = ref({
                    username: '',
                    password: '',
                    role: ''
                });

                const getUsers = async () => {
                    isLoading.value = true;
                    try {
                        const res = await fetch("./sql.php?do=getusers");
                        console.log(res)
                        users.value = await res.json();
                        console.log(users.value)
                    } catch(error) {
                        console.error("API 請求錯誤:", error);
                    } finally {
                        isLoading.value = false;
                    }
                }
                getUsers();

                
                const editUser = (userData) => {
                    console.log(userData)
                }


                const addToDoInput = () => {
                    todoList.value.push(todoInput.value);
                    console.log(todoList.value);
                    todoInput.value = "";
                }

                const delTodo = (index) => {
                    todoList.value.splice(index, 1);
                }
                
                // 【修復點】：確保 userData 被 return
                return { number, todoList, todoInput, addToDoInput, getUsers, users, delTodo, userData,editUser }
            }
        }).mount('#app')
    </script>
</body>

</html>