<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-2</title>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="bootstrap.js"></script>
    <script src="./vue.3.5.13.js"></script>
</head>
<!-- OK -->
<body>
    <div id="app">
        <p>
            數字:{{number}}
        </p>
        <p>
            <button @click="number++">+</button>
            <button @click="number--">-</button>
            <br>
            <br>
            <input v-model="number" type="number">
        </p>
        <input type="text" v-model="todoInput">
        <button @click="addToDoInput">add</button>
        
        <div>
            <ul v-for="(todo, index) in todoList" :key="'todo-' + index">
                <li @click="delTodo(index)">{{todo}}</li>
            </ul>
        </div>

        <div>
            <ul v-for="(user, index) in users" :key="'list-user-' + index">
                <li @click="delTodo(index)">{{user.username}}</li>
            </ul>
        </div>
        <hr>
        <h3>使用者清單</h3>
        <table id="table" class="table table-hover">
            <tr>
                <td>使用者ID</td>
                <td>使用者名稱</td>
                <td>使用者權限</td>
                <td>使用者操作</td>
            </tr>
            <tr v-for="(user, index) in users" :key="user.id">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.role == 1 ? "管理者" : "一般使用者"}}</td>
                <td>
                    <div class="btn btn-group">
                        <button @click="editUser(user)" class="btn btn-warning">編輯</button>
                        <button @click="delUser(user.id)" class="btn btn-danger">刪除</button>
                    </div>
                </td>
            </tr>
        </table>

        <button @click="addUser">新增使用者</button>
        <div id="userModal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{modal_title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label>使用者名稱</label>
                            <input class="form-control" type="text" v-model="userData.username">
                        </p>
                        <p>
                            <label>使用者密碼</label>
                            <input class="form-control" type="text" v-model="userData.password">
                        </p>
                        <p>
                            <label>使用者權限</label>
                            <input class="form-control" type="text" v-model="userData.role">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="saveUserData">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const { createApp, ref } = Vue;
        createApp({
            setup() {
                const number = ref(10)
                const todoInput = ref("");
                const todoList = ref([]);
                const modal_title = ref('')
                const users = ref(null)
                const isLoading = ref(false)

                const userData = ref({
                    username: '',
                    password: '',
                    role: ''
                });

                const getUsers = async () => {
                    isLoading.value = true;
                    try {
                        const res = await fetch("./sql.php?do=getusers");
                        users.value = await res.json();
                    } catch (error) {
                        console.error("API 請求錯誤:", error);
                    } finally {
                        isLoading.value = false;
                    }
                }
                getUsers();

                const editUser = (userDataSend) => {
                    modal_title.value = "編輯"
                    userData.value = {
                        id: userDataSend.id,
                        username: userDataSend.username,
                        password: userDataSend.password,
                        role: userDataSend.role
                    }
                    $("#userModal").modal("show");
                }

                const addUser = () => {
                    modal_title.value = "新增"
                    userData.value = {
                        id: "",
                        username: "",
                        password: "",
                        role: ""
                    }
                    $("#userModal").modal("show")
                }

                const delUser = async (id) => {
                    // 修正 6：補上 try...catch 防呆
                    try {
                        const res = await fetch("./sql.php?do=deluser&id=" + id);
                        const result = await res.text();
                        if (result) {
                            getUsers();
                        }
                    } catch (error) {
                        console.error("刪除失敗:", error);
                    }
                }

                const saveUserData = async () => {
                    if (userData.value.username == "") {
                        alert("使用者名稱為必填");
                        return; 
                    }
                    // 修正 6：將拼錯的 parmas 改為 params
                    const params = new URLSearchParams(userData.value);

                    let apiUrl;
                    if (modal_title.value == "編輯") {
                        apiUrl = "./sql.php?do=edituser";
                    } else {
                        apiUrl = "./sql.php?do=adduser";
                    }
                    
                    // 修正 6：補上 try...catch 防呆
                    try {
                        const res = await fetch(apiUrl, {
                            method: "POST",
                            body: params
                        });

                        const result = await res.text();
                        if (result) {
                            $("#userModal").modal("hide");
                            getUsers();
                        }
                    } catch (error) {
                        console.error("儲存失敗:", error);
                    }
                }

                const addToDoInput = () => {
                    todoList.value.push(todoInput.value);
                    todoInput.value = "";
                }

                const delTodo = (index) => {
                    todoList.value.splice(index, 1);
                }

                return {
                    number, todoList, todoInput, addToDoInput, getUsers, users, delTodo,
                    userData, editUser, modal_title, saveUserData, addUser, delUser
                }
            }
        }).mount('#app')
    </script>
</body>

</html>